.freq{
display: flex;
gap: 1rem;
}

.input{
    width: 100%;
}

.goalGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  /* remove padding here */
}

mat-card {
    margin: 20px;
    margin-top: 5px;
    padding: 20px;    
    box-sizing: border-box;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  gap: 2rem;
  margin-top: 1px;
}

.bttn{
    cursor: pointer;
    padding: 5px;
    border-radius: .5rem;
}

.bttn:hover{
    background-color: black;
    color: white;
}
