<h2 mat-dialog-title>Goals For: {{currDate}}</h2>

<mat-dialog-content>
  <h3 mat-dialog-title>Incomplete:</h3>
  <div class="incomplete">
    @for (goal of testGoal.goals; track goal; let i = $index ) {
    @if(goal.completed === false){
    <mat-checkbox [checked]="goal.completed" (change)="updateGoal($event.checked, goal.name)">{{
      goal.name
      }}</mat-checkbox>
    }

    }
  </div>
  <h3 mat-dialog-title>Complete:</h3>
  <div class="complete">
    @for (goal of testGoal.goals; track goal; let i = $index ) {
    @if(goal.completed === true){
    <mat-checkbox [checked]="goal.completed" (change)="updateGoal($event.checked, goal.name)"><s>{{
        goal.name
        }}</s></mat-checkbox>
    }

    }
  </div>
</mat-dialog-content>