<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="mainContainer">
      <div class="header">
        <h1>Gopher</h1>
      </div>
      <div class="goalOptions">
        <button (click)="addGoal()">New Goal</button>
        <button (click)="toggleView()" [class.isFocused]="viewMode">View Goals</button>
        <button (click)="toggleEdit()" [class.isFocused]="editMode">Edit Goals</button>
      </div>
      <div class="chart_goalsContainer">
        <mat-card class="chart_goalsCard" appearance="outlined">
          <div class="chart">
            <canvas
              baseChart
              width="800"
              height="400"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
            >
            </canvas>
          </div>
          <div class="goalContainer">
            @if(viewMode) {
            <mat-card class="goalCard" appearance="outlined">
              <mat-card-header>
                <mat-card-title>Your Goals</mat-card-title>
                <mat-card-subtitle>Goals for: {{ currDate }} </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                @for (item of testService.goals; track item.id) {
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    <mat-card-subtitle>{{ item.target }}</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
                }
              </mat-card-content>
            </mat-card>
            } @else{
            <mat-card class="goalCard" appearance="outlined">
              <mat-card-header>
                <mat-card-title>Your Goals</mat-card-title>
                <mat-card-subtitle>Edit Goals</mat-card-subtitle>
              </mat-card-header>
              <mat-dialog-content>
                @for (goal of testService.goals; track goal.id) {

                <mat-card class="edit_container">
                  <mat-card-header>
                    <mat-card-title>{{ goal.name }}</mat-card-title>
                    <mat-card-subtitle>{{ goal.target }}</mat-card-subtitle>
                  </mat-card-header>
                  <button matIconButton [matMenuTriggerFor]="menu" #menuTrigger>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editGoal(goal)">Edit</button>
                    <button mat-menu-item (click)="deleteGoal(goal)">Delete</button>
                  </mat-menu>
                </mat-card>
                }
              </mat-dialog-content>
            </mat-card>
            }
          </div>
        </mat-card>
      </div>
    </div>
  </body>
</html>
