.header{
    padding: 20px;
}

.h1{
    margin: 0;
    position: relative;
}

.goalOptions{
    /* background-color: red; */
    padding: 10px;
    display: flex;
    gap: 3rem;

}
/* .chart_optionsContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

} */



.chart_goalsContainer{
    display: flex;
    justify-content: center;
}

.chart_goalsCard{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.goalCard{
    width: 50rem;
}

.goalContainer{
    margin-top: 2rem;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info{
    display: flex;
}

.goalChart{
    margin-right: 90rem;
}