<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="mainContainer">
      <div class="header">
        <h1>Gopher</h1>
      </div>

      <div class="chart_optionsContainer">
        <div class="info">
          <div class="goalChart"><p>Goal Chart</p></div>
          <div class="goalOptions">
            <button (click)="addGoal()">New Goal</button>
            <button (click)="viewGoal()">View Goals</button>
            <button (click)="editGoal()">Edit Goals</button>
          </div>
        </div>
        <div class="chart"></div>
      </div>
    </div>
  </body>
</html>
