<h2 mat-dialog-title>Manage All Goals</h2>

<mat-dialog-content>
  @for (goal of testGoal.goals; track goal.id) {
  <div class="container">
    <button matIconButton [matMenuTriggerFor]="menu" #menuTrigger>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editGoal(goal)">Edit</button>
      <button mat-menu-item (click)="deleteGoal(goal)">Delete</button>
    </mat-menu>
    <span> {{ goal.name }}</span>
  </div>
  }
</mat-dialog-content>
